body{
    background-color: rgb(255, 233, 205);
    padding-top: 3%;
}

.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 233, 205);
}


.card {
    width: 350px;
    display: flex;
    background-color: tan;
    flex-direction: column;
    justify-content: center;
    border: 2px solid tan;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.brandPic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.card button {
    margin: 0 10px;
    background: none;
    border: none;
    background-color:rgb(255, 233, 205);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover{
    background-color: rgb(250, 200, 135);
}
.card button:focus{
    background-color: rgb(255, 233, 185);
}

